<div id="body-box">

<h1>Tire Tracks</h1>
<img class="title-pic"  src="https://d32c3oe4bky4k6.cloudfront.net/articles-videos/-/media/uscamediasite/images/story-images/2018/07/24/25corvette_111.ashx?modified=20180724135219&mw=1440&hash=3C6DA06505438A2F5CE651448548D96961EDFC94">


<div id="stats-box">
    <h3>Manufacturer Statistics</h3>
    <article id="city-list">
        <h3>Average Year Founded: <%= @avg_year_founded.round(0).to_i %></h3>
        <h3>Unique Cities:</h3>

        <ul>
        <% @unique_cities.each do |city| %>
            <li><%= city %></li>
            <% end %>
        </ul>
    </article>
    <a href="/manufacturers/new">New Manufacturer</a>

</div>

<section id="manufacturer-list">
    <% @manufacturers.each do |manufacturer| %>
        <section class="manufacturer-card" id="manufacturer-<%= manufacturer.id %>">
            
            <ul class="manufacturer-deets">
                <img class="logo-pic"  src=<%= manufacturer.logo_url %>>
                <h3>Manufacturer Name: <%= manufacturer.name %> </h3>
                <h3>City: <%= manufacturer.city %> </h3>
                <h3>Year Founded: <%= manufacturer.year_founded %> </h3>
                <h3>Car Count: <%= manufacturer.car_count %></h3>
            </ul>   
            
            <section class="manufacturer-cars">
                <% manufacturer.cars.each do |car| %>
                    <section class="cars-card">
                        <article class="car-deets" id="car-stat-list-<%= car.id %>">
                            <h5>Model: <%= car.name %> </h5>
                            <h5>Year: <%= car.year %></h5>
                            <img class="car-pic" src=<%= car.car_thumb %> alt="car-<% car.id %>">
                        </article>
                    </section>
                <% end %>
            </section>
        </section>
    <% end %>
</section>

</div>